<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>

    {{ partial "head-meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ "<!-- CSS -->" | safeHTML }}
    <link href="{{ .Site.BaseURL }}css/app.css" rel="stylesheet">
    {{/* Deprecated
    {{ if .RSSLink }}
      {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
      */}}
    {{ with .OutputFormats.Get "rss" -}}
      {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ if .Site.Params.cookie_consent_info_url }}
      {{ partial "cookie-consent.html" . }}
    {{ end }}

    {{ partial "head-custom.html" . }}

  </head>
  <body>

    <header class="nav">
      <div class="top-bar">
        <div class="row column">
          <div class="top-bar-left">
            <ul class="menu">
              <li class="{{ if .IsHome }}active{{ end }}"><a href="{{ .Site.BaseURL | absLangURL }}">
                {{ i18n "home" }}
              </a></li>
              {{ if .Site.Params.custom_navbar }}
                {{ range .Site.Menus.navbar }}
                  <li><a href="{{.URL | absURL }}">
                    {{ .Name }}
                  </a></li>
                {{ end }}
              {{ else }}
                {{ range where (where (where .Site.Pages ".Type" "!=" "post") ".Kind" "!=" "home") ".Kind" "!=" "taxonomyTerm" }}
                  <li><a href="{{ .Permalink }}">
                    {{ .Title }}
                  </a></li>
                {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </header>

    <header class="blog-header">
      <div class="callout large">
        <div class="row column text-center">
          <h1>
            <a href="{{ .Site.BaseURL }}" rel="home">{{ .Site.Title | safeHTML }}</a>
          </h1>
          {{ if .Site.Params.description }}
            <p>
              {{ .Site.Params.description | markdownify }}
            </p>
          {{ end }}
        </div>
      </div>
    </header>

    <main>
      <div class="row" id="content">
        <div class="medium-8 columns">
          {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
          {{ end }}
        </div>
          {{ partial "sidebar.html" . }}
      </div>
    </main>

    <footer class="blog-footer">
      <div class="row column">
        <p>
          {{ if .Site.Copyright }}
          {{ now.Format .Site.Copyright | markdownify }}
          {{ else }}
          Blog template created by <a href="hhttps://github.com/zurb">@zurb</a>, ported to Hugo by <a href='https://github.com/htkoca'>github.com/htko89</a>.
          {{ end }}
        </p>
        <p>
          <a href="{{ .Permalink }}#">{{ i18n "backToTop" }}</a>
        </p>
      </div>
    </footer>

  <foot>

    <script src="{{ .Site.BaseURL }}js/app.js"></script>

  </foot>
  </body>
</html>
