{{ "<!-- portfolio -->" | safeHTML }}
<section id="two">
  {{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
  {{ with .Site.Params.portfolio.links }}
  <ul>
    {{ range . }}
    <li><a href="{{ .url }}">{{ .title | markdownify }} &ndash; {{ .description | markdownify }}</a></li>
    {{end }}
  </ul>
  {{ end }}
  {{ with .Site.Params.portfolio.gallery }}
  <div class="row">
    {{ range . }}
    <article class="6u 12u$(xsmall) work-item">
      <a href="{{ $.Site.BaseURL }}images/{{ .image }}" class="image fit thumb">
        <img src="{{ $.Site.BaseURL }}images/{{ .thumb }}" alt="" /></a>
      {{ if .url }}
      <h3><a href="{{ .url }}">{{ .title | markdownify }}</a></h3>
      {{ else }}
      <h3>{{ .title | markdownify }}</h3>
      {{ end }}
      <p>{{ .description | markdownify }}</p>
    </article>
    {{ end }}
  </div>
  {{ end }}
</section>
