<!--
    Site index shortcut from categories
  -->
{{ if .Get 0 }}
{{ $category := .Get 0 }}
<section>
  <h3>{{ title $category }}</h3>
  <ul>
    {{ with (index .Site.Taxonomies.categories $category) }}
    {{ range .Pages.ByTitle }}
    <li><a href="{{ .Permalink }}">{{ safeHTML .LinkTitle }}</a></li>
    {{ end }}
    {{ end }}
  </ul>
</section>
{{ else }}
<section>
  {{ range $key, $value := .Site.Taxonomies.categories }}
  <h3>{{ title $key }}</h3>
  <ul>
    {{ range $value.Pages.ByTitle }}
    <li><a href="{{ .Permalink }}">{{ safeHTML .LinkTitle }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</section>
{{ end }}
