<!-- Whatever-o-meter shortcode -->
<!-- Check for questions -->
{{ with .Page.Params }}
{{ if not .question }}
<!-- No questions -->
<p>
  No whatever-o-meter questions defined, you need to define some
  custom fields.
</p>
{{ else }}
<!-- whatever-o-meter html -->
<br />
<div id="whatever-o-meter"  style="text-align: center;">
  <!-- SVG dial -->
  <svg id="tacho-dial" width="560" height="560">
    <g  transform="translate(280,280)">
      <circle class="background" r="280" fill="palegoldenrod" />
      <circle class="ticks" r="272" stroke="black"
              fill="palegoldenrod" stroke-width="6" />
      <circle class="ticks" r="140" stroke="black"
              fill="palegoldenrod" stroke-width="6" />
      <line class="ticks" x1="0" y1="-212" x2="0" y2="-272"
	    stroke="black" stroke-width="6" />
      <line class="ticks" x1="0" y1="-108" x2="0" y2="-138"
	    stroke="black" stroke-width="4" />
      {{ range $i := seq 30 30 160 }}
      <g transform="rotate({{ $i }})">
	<line class="ticks" x1="0" y1="-212" x2="0" y2="-272"
	      stroke="black" stroke-width="6" />
	<line class="ticks" x1="0" y1="-108" x2="0" y2="-138"
	      stroke="black" stroke-width="4" />
	{{ range $j := seq 6 6 30 }}
	<line class="ticks" x1="0" y1="-242" x2="0" y2="-272"
	      stroke="black" stroke-width="2" transform="rotate(-{{ $j }})" />
        {{ end }}
      </g>
      <g transform="rotate(-{{ $i }})">
	<line class="ticks" x1="0" y1="-212" x2="0" y2="-272"
	      stroke="black" stroke-width="6" />
	<line class="ticks" x1="0" y1="-108" x2="0" y2="-138"
	      stroke="black" stroke-width="4" />
	{{ range $j := seq 6 6 30 }}
	<line class="ticks" x1="0" y1="-242" x2="0" y2="-272"
	      stroke="black" stroke-width="2" transform="rotate({{ $j }})" />
        {{ end }}
      </g>
      {{ end }}
      <!-- Od-o-meter digits -->
      <text class="digits" id="digit-1" x="-72" y="82" font-size="48"
	    stroke="black" fill="black">0</text>
      <text class="digits" id="digit-2" x="-42" y="82" font-size="48"
	    stroke="black" fill="black">0</text>
      <text class="digits" id="digit-3" x="-12" y="82" font-size="48"
	    stroke="black" fill="black">0</text>
      <text class="digits" id="digit-4" x="18" y="82" font-size="48"
	    stroke="black" fill="black">0</text>
      <text class="digits" id="digit-5" x="48" y="82" font-size="48"
	    stroke="black" fill="black">0</text>
      <!-- Pointer -->
      <path d="M0,64 L8,56 L3,-196 L0,-200 L-3,-196 L-8,56 Z"
	    fill="black" class="pointer" id="pointer" />
      <circle class="pointer" r="20" fill="black" />

    </g>
  </svg>
  <div id="first" style="text-align: center">
    <h4>{{ .intro }}</h4>
    <input type="button" value="Start" class="start" id="start" />
  </div>
  {{ $questions := .question }}
  {{ $left_texts := default (slice "No") .left }}
  {{ $centre_texts := default (slice "-") (default .centre .center) }}
  {{ $right_texts := default (slice "Yes") .right }}
  {{ $last_index := sub (len $questions) 1 }}
  {{ range $index, $question := $questions }}
  {{ $left := default "No" (index $left_texts $index) }}
  {{ $centre := default "-" (index $centre_texts $index) }}
  {{ $right := default "Yes" (index $right_texts $index) }}
  <div id="panel-{{ add $index 1 }}" style="display: none; text-align: center">
    <h4>{{ $question }}</h4>
    <div class="slider" id="value-{{ add $index 1 }}"></div>
    <div>
      {{ if ne $centre "-" }}
      <div class="left"
	   style="text-align: left; float: left; width: 33%">{{ $left }}</div>
      <div class="centre" 
	   style="float: left; width: 34%">{{ $centre }}</div>
      <div class="right"
	   style="text-align: right; float: left; width: 33%">{{ $right }}</div>
    </div>
    <div style="width: 100%; clear: left; padding: 20px 0 0;">
      {{ else }}
      <div class="left"
	   style="text-align: left; float: left; width: 50%">{{ $left }}</div>
      <div class="right"
	   style="text-align: right; float: left; width: 50%">{{ $right }}</div>
    </div>
    <div style="width: 100%; clear: left; padding: 24px 0 0;">
      {{ end }}
  {{ if lt $index $last_index }}
      <input type="button" value="Next" class="next" id="next-{{ add $index 1 }}" />
    </div>
  </div>
  {{ else }}
      <input type="button" value="Get Results" class="result" id="result" />
    </div>
  </div>
  {{ end }}
  {{ end }}
  <div id="last" style="display: none; text-align: center;">
    <h4 id="answer"></h4>
    <input type="button" value="Again" class="again" id="again" />
    {{ if .more }}
    <br />
    <a href="{{ .more }}"><input type="button" value="Find Out More" id="more" class="more" /></a>
    {{ end }}
  </div>
</div>
<br />
{{ with .result }}
{{ $.Scratch.Set "results" . }}
{{ end }}
{{ with (default .colors .colours) }}
{{ $.Scratch.Set "colours" (split . ",") }}
{{ end }}
{{ with .weights }}
{{ $.Scratch.Set "weights" (split . ",") }}
{{ end }}
{{ with .duration }}
{{ $.Scratch.Set "duration" . }}
{{ end }}
{{ with .easing }}
{{ $.Scratch.Set "easing" . }}
{{ end }}
{{ $json := dict "results" ($.Scratch.Get "results") "colours" ($.Scratch.Get "colours") "weights" ($.Scratch.Get "weights") "duration" ($.Scratch.Get "duration") "easing" ($.Scratch.Get "easing") }}
<script type="text/javascript">
  var whatever_data = {{ safeJS (jsonify $json) }};
</script>
{{ end }}
{{ end }}
